<ul class="social-icons">
    {{#if @site.facebook}}<li><a href="{{@site.facebook}}" target="_blank"><i class="icon-facebook"></i></a></li>{{/if}}
    {{#if @site.twitter}}<li><a href="{{@site.twitter}}" target="_blank"><i class="icon-twitter"></i></a></li>{{/if}}
</ul>
