{{!< default}}

<main class="gh-main gh-outer">
    <div class="gh-inner">
        {{#author}}
            <section class="gh-pagehead">
                <figure class="gh-author-image">
                    {{> "author-image"}} <!-- Modular Author Image -->
                </figure>

                <div class="gh-pagehead-content">
                    <h1 class="gh-pagehead-title">{{name}}</h1>
                    {{> "author-bio"}} <!-- Modular Author Bio -->
                </div>
            </section>
        {{/author}}

        <div class="gh-topic gh-topic-grid">
            <div class="gh-topic-content gh-feed">
                {{> "author-posts"}} <!-- Modular Author Posts Loop -->
            </div>
        </div>
    </div>
</main>