<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{meta_description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta_title}}</title>

    {{#if feature_image}}
        <meta property="og:image" content="{{feature_image}}">
    {{/if}}
</head>
